h2 
{
    padding-top: 20px;
}
.container
{
    max-width: 100%;
}
.nav-item
{
    width: 30vw;
}
img[src*="#carte"]
{
    width: 50vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
}